.help 
    .container 
        .help__block 
            .help__first 
                h1.help__first-title How can we help?
                p.help__first-cont In need of expert investigative services? We’re Foglight Investigations, and we’re here to help. 
                .input__block 
                    input.input__email(type="text" placeholder="Your E-mail")
                    input.input__phone(type="text" placeholder="Phone number")
                    textarea.input__massage(rows=1 placeholder="Your Message Here") Your Message Here
                .help__extra 
                    label.help__label 
                        input(type="checkbox")
                        span Your email address will not be published. Required fields are marked *
                    a.help__link(href="#") Send Message
            .help__second
                h2.touch__title Get In Touch
                p.touch__cont therefore always free from repetition, injected humour, or non-characteristic 
                .touch__box 
                    .touch__contact 
                        .touch__img
                            img(src="../assets/img/envelope.svg", alt="")
                        .touch__extra 
                            h3.extra__title visit us :
                            p.extra__cont 27 Division St, New York, 
                                | NY 10002, USA
                    .touch__contact 
                        .touch__img
                            img(src="../assets/img/telephone.svg", alt="")
                        .touch__extra 
                            h3.extra__title mail us :
                            a.extra__cont(href="mailto:phlox@mail.com") phlox@mail.com 
                            a.extra__cont(href="mailto:contact@mail.com") contact@mail.com
                    .touch__contact
                        .touch__img
                            img(src="../assets/img/point.svg", alt="")
                        .touch__extra 
                            h3.extra__title phone us :
                            a.extra__cont(href="tel:+8 (123) 985 789") +8 (123) 985 789 
                            a.extra__cont(href="tel:+1 (123) 456 789") +1 (123) 456 789