main.main
    .container 
        .head 
            .head__firb
                h1.head__title PROFESSIONAL INVESTIGATIONS & SURVEILLANCE
                p.head__cont We offer professional and confidential investigative and protection services to a broad spectrum of clients.We are prepared to handle all types 
                img.head__img(src="../assets/img/woman-left.png", alt="")
            .head__secb
                img.head__img1(src="../assets/img/woman-right.png", alt="")
                .head__prof 
                    h2.head__prof-title We Are Professional
                    .stars 
                        img(src="../assets/img/star.svg", alt="")
                        img(src="../assets/img/star.svg", alt="")
                        img(src="../assets/img/star.svg", alt="")
                        img(src="../assets/img/star.svg", alt="")
                        img(src="../assets/img/star.svg", alt="")
                .head__foorp     
                    p.head__prof-cont More than 45,000+ companies trust Sac
                    p.head__prof-cont 5 Star Ratings
                .head__companies 
                    img(src="../assets/img/company01.svg", alt="")
                    img(src="../assets/img/company06.svg", alt="")
                    img(src="../assets/img/company03.svg", alt="")
                    img(src="../assets/img/company04.svg", alt="")
                    img(src="../assets/img/company05.svg", alt="")
                    img(src="../assets/img/company02.svg", alt="")
                    img(src="../assets/img/company07.svg", alt="")
                    img(src="../assets/img/company08.svg", alt="")
            img.absolute(src="../assets/img/line.svg", alt="")
        .invest__box 
            .invest__about 
                h3.invest__title Claims Investigators You Know, Like and Trusted for you.
                p.invest__cont Sherlock is the insurance investigative agency of choice in terms of ethics, ability and professionalism. We are proud to serve you.
                a.invest__work(href="#") How It Works
            .invest__extras
                .extra__block 
                    img.extra__img(src="../assets/img/claims01.svg", alt="")
                    a.extra__link(href="#") Background Checks 
                .extra__block 
                    img.extra__img(src="../assets/img/claims02.svg", alt="")
                    a.extra__link(href="#") Asset Investigation 
                .extra__block 
                    img.extra__img(src="../assets/img/claims03.svg", alt="")
                    a.extra__link(href="#") Criminal investigation
                .extra__block 
                    img.extra__img(src="../assets/img/claims04.svg", alt="")
                    a.extra__link(href="#") Fraud Investigation 
        .wonder 
            .advert
                .advert__box
                    h4.advert__title Are You wondering If You Should Hire A Pivate Dectective
                    p.advert__text Private detectives serve businesses, law firms, insurance companies and private individuals and can be hired for a wide range of reasons.
                    a.advert__link(href="#") Contact Me
                .type
                    h5.type__title Type Of Investigation
                    .business   
                        h6.bus__title Business
                        p.bus__cont Private detectives serve businesses, law firms, insurance companies and private 
                    .business 
                        h6.bus__title Law Film
                        p.bus__cont Private detectives serve businesses, law firms, insurance companies and private 
            .advert__type
                img(src="../assets/img/private-right.png", alt="")
                .business1  
                    h6.bus__title Insurance Companies
                    p.bus__cont Private detectives serve businesses, law firms, insurance
                .business1
                    h6.bus__title Private individuals
                    p.bus__cont Private detectives serve businesses, law firms, insurance
            img.left__img(src="../assets/img/private-left.png", alt="")