.outbox
    .private 
        .container 
            .private__cont
                .private__fbox 
                    img(src="../assets/img/private.png", alt="")
                .private__sbox
                    h1.private__title About Our Private Investigation Agency
                    p.private__text John Cutter Investigations Inc. (JCI) was founded by former NYPD Deputy Chief John Cutter after a decorated 25-year career. Our investigations professionals come with vast 
                    a.private__link(href="#") Learn More
        img.curve(src="../assets/img/curve.svg", alt="")
        img.private__extra(src="../assets/img/private-extra.png", alt="")
