.team 
    .container 
        .team__cont
            h1.team__title Our Teams
            .team__boxes 
                .team__gang
                    .team__block 
                        .team__img 
                            img.team__port(src="../assets/img/vice.png", alt="")
                            .team__descr 
                                p.team__notes Kenneth Bombace serves as the Chief Executive Officer of Global Threat Solutions. He possesses extensive experience from the law enforcement and military sectors.
                                ul.team__list 
                                    li 
                                        a(href="#") 
                                            img.team__link(src="../assets/img/facebook.svg", alt="")
                                    li 
                                        a(href="#") 
                                            img.team__link(src="../assets/img/linkedin.svg", alt="")
                                    li 
                                        a(href="#") 
                                            img.team__link(src="../assets/img/instagram.svg", alt="")
                    .team__extra
                        h2.team__name Chris Schiavo
                        p.team__position Vice Persident
                .team__gang
                    .team__block 
                        .team__img 
                            img.team__port(src="../assets/img/vice.png", alt="")
                            .team__descr 
                                p.team__notes Kenneth Bombace serves as the Chief Executive Officer of Global Threat Solutions. He possesses extensive experience from the law enforcement and military sectors.
                                ul.team__list 
                                    li 
                                        a(href="#") 
                                            img.team__link(src="../assets/img/facebook.svg", alt="")
                                    li 
                                        a(href="#") 
                                            img.team__link(src="../assets/img/linkedin.svg", alt="")
                                    li 
                                        a(href="#") 
                                            img.team__link(src="../assets/img/instagram.svg", alt="")
                    .team__extra
                        h2.team__name Andrew Young
                        p.team__position Captain
                .team__gang
                    .team__block 
                        .team__img 
                            img.team__port(src="../assets/img/senior.png", alt="")
                            .team__descr 
                                p.team__notes Kenneth Bombace serves as the Chief Executive Officer of Global Threat Solutions. He possesses extensive experience from the law enforcement and military sectors.
                                ul.team__list 
                                    li 
                                        a(href="#") 
                                            img.team__link(src="../assets/img/facebook.svg", alt="")
                                    li 
                                        a(href="#") 
                                            img.team__link(src="../assets/img/linkedin.svg", alt="")
                                    li 
                                        a(href="#") 
                                            img.team__link(src="../assets/img/instagram.svg", alt="")
                    .team__extra
                        h2.team__name Mark Charles
                        p.team__position Senior 
                .team__gang
                    .team__block 
                        .team__img 
                            img.team__port(src="../assets/img/director.png", alt="")
                            .team__descr 
                                p.team__notes Kenneth Bombace serves as the Chief Executive Officer of Global Threat Solutions. He possesses extensive experience from the law enforcement and military sectors.
                                ul.team__list 
                                    li 
                                        a(href="#") 
                                            img.team__link(src="../assets/img/facebook.svg", alt="")
                                    li 
                                        a(href="#") 
                                            img.team__link(src="../assets/img/linkedin.svg", alt="")
                                    li 
                                        a(href="#") 
                                            img.team__link(src="../assets/img/instagram.svg", alt="")
                    .team__extra
                        h2.team__name Luis Leal Contreras
                        p.team__position Director
